
    <div class="mx-auto">
       <h1>LOGIN</h1>
       <form action="">
           <label for="fn">USER NAME<br></label>
           <input type="text" name="firstname" id="fn">
          <!-- <label for="ln">LAST NAME<br></label>
           <input type="text" name="lastname" id="ln">
           <label for="e">EMAIL<br></label>
           <input type="email" name="email" id="e">  -->
           <label for="p">PASSWORD<br></label>
           <input type="password" name="password" id="p">
           <button type="submit"> LOGIN </button>
            <p>Already have an account?</p>
       </form>
    </div>

