
<h3 class="text-center">Page No : {{employees.page}}</h3>
<h4 class="text-center">No Of Colors : {{employees.data.length}}</h4>
<div *ngFor="let emp of employees.data" class="shadow"style="border:1px solid black;padding:2px;margin:1em 5em;background-color:cornsilk;">

<div class="row" >

    <div class="col">
 <h5>COLOR ID : {{emp.id}}</h5>
 <h5>COLOR NAME : {{emp.name}}</h5>
 <h5>YEAR : {{emp.year}}</h5>
 <h5>PANTON VALUE : {{emp.pantone_value}}</h5>
</div>
<div class="col mx-3 my-1" style="background-color: {{emp.color}};"></div>
</div>
</div>

<div class="text-center " >
    <h5 class="text-center mt-5 w-50 mx-auto p-2" style="background-color: rgb(226, 43, 226,0.3);"><h3>support-url : </h3> <a href="https://reqres.in/#support-heading">{{employees.support["url"]}}</a></h5>
    <h6 class="text-center d-block w-50 mx-auto p-2 mb-4" style="background-color: rgba(67, 247, 253, 0.3);border-radius: 3px;" >{{employees.support["text"]}}</h6>
</div>
