<div style="position:relative;">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:linen;">
  <a class="navbar-brand mx-2 mr-5" href="#" style="font-size: 1.4em;font-weight: 700;">🌸ART OF BLOOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse px-4 mx-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ms-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" style="font-weight: 600;font-size: 1.2em;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register"style="font-weight: 600;font-size: 1.2em;">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="login"style="font-weight: 600;font-size: 1.2em;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus"style="font-weight: 600;font-size: 1.2em;">ContactUs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="products"style="font-weight: 600;font-size: 1.2em;">Product</a>
  </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="background-color:linen;padding-top: 5mm;padding-bottom: 5mm;">
  <router-outlet style="background-color:linen;"></router-outlet>
</div>

<div class="position:relative">
  <div class="row">
<app-footer class="mt-auto mb-100" style="background-color:linen"></app-footer>
  </div>
</div>
</div>