<!--
<div class="hk d-block text-center" style="padding:7%;" >
    <img src="" alt="">
   <h1 style="font-weight: 600;font-size:3em;color:aliceblue">FLOWER TYPES</h1>
   <p class="text-center w-50 d-block" style="font-size: 1.5em;font-weight: 500;display: block;margin:auto;color: aliceblue;">Flowers come in thousands of different shapes and color combinations, each with their own name and classification. There are over 400,000 types of flowering plants.Different types of flowers can bloom in the spring and summer.here is a quick list of some of the flower types:</p>
   <p>
       <a  class="btn btn-primary my-2 mx-2">Main call to action</a>
       <a  class="btn btn-secondary my-2">Secondary action</a>
     </p>
</div>  
-->
<div class="w-80 px-md-5 px-sm-1  mx-md-auto mx-sm-0">
<div id="crs" class="carousel slide" data-bs-ride="carousel" >

  <ol class="carousel-indicators" >
    <li style="background-color:rgb(13, 13, 14);height: 5px;" data-bs-target="#crs" data-bs-slide-to="0" class="active"></li>
    <li style="background-color:rgb(12, 11, 12);height: 5px;" data-bs-target="#crs" data-bs-slide-to="1"></li>
    <li style="background-color:rgb(13, 13, 14);height: 5px;" data-bs-target="#crs" data-bs-slide-to="2"></li>
    <li style="background-color:rgb(12, 12, 12);height: 5px;" data-bs-target="#crs" data-bs-slide-to="3"></li>
  </ol>

<div class="carousel-inner">
   <div class="carousel-item active" data-bs-interval="700">
    <img  class="d-block mx-auto" src="https://assets.intleflorist.com/site/in5600001/Homepage/eflora-carousel-1400x560-WEDDING-LIGHT.jpg" style="  width:1250px;
    height: 500px;" alt="">
   </div>
    <div class="carousel-item " data-bs-interval="700">
        <img  class="d-block mx-auto" src="https://assets.intleflorist.com/site/0081A/Homepage/Birthday-Banner2.jpg" style="  width:1250px;
        height: 500px;" alt="">
    </div>
    <div class="carousel-item" data-bs-interval="700">
        <img class="d-block mx-auto"  src="https://assets.eflorist.com/site/00004321/Homepage/Immersion%20Banners/MD%202021-3.png" style=" width:1250px;
         height: 500px;" alt="">
    </div>
    <div class="carousel-item" data-bs-interval="700">
        <img class="d-block mx-auto"  src="https://assets.eflorist.com/site/00004321/Homepage/Immersion%20Banners/Vday%20Subscriptions.png"style=" width:1250px;
        height: 500px;" alt="">
    </div>
</div>

<button class="carousel-control-prev " style="margin-left: 1em;" data-bs-target="#crs" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="background-color: rgb(7, 7, 7,0.5);border-radius: 3px;"></span>
</button>

<button class="carousel-control-next " style="margin-right: 1em;" data-bs-target="#crs" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="background-color: rgb(7, 7, 7,0.5);border-radius: 3px;"></span>
</button>

</div>


<div class="container mx-0 mx-lg-auto mx-sm-0 mx-md-0 my-4" style="width:100%;box-sizing: border-box;">

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 my-auto" style="justify-content: space-evenly;">
  
    <div class="col bg-info p-2 m-1">
      <div class="card">
        <img src="https://assets.eflorist.com/site/00004321/assets/products/PHR_/sku7180078.jpg" class="card-img-top" alt="...">
        <hr>
        <div class="text-center pb-2">
          <a href="#" class="a1" style="color: black;">Red roses (6)</a><br>
          <a href="#"  class="a1" style="color: black;">$49.00</a><br>
          <a href="#"  class="a1" style="color: black;">Buy Now></a>
        </div>
      </div>
    </div>
    <div class="col bg-info p-2 m-1">
      <div class="card">
        <img src="https://assets.eflorist.com/site/00004321/assets/products/PHR_/sku8881633.jpg" class="card-img-top" alt="...">
        <hr>
        <div class="text-center pb-2">
          <a href="#" class="a1" style="color: black;">Kaleidoscope Dream (6)</a><br>
          <a href="#"  class="a1" style="color: black;">$99.00</a><br>
          <a href="#"  class="a1" style="color: black;">Buy Now></a>
        </div>
      </div>
    </div>
    <div class="col bg-info p-2 m-1">
      <div class="card">
        <img src="https://assets.eflorist.com/site/00004321/assets/products/PHR_/sku7660100.jpg" class="card-img-top" alt="...">
        <hr>
        <div class="text-center pb-2">
          <a href="#" class="a1" style="color: black;">1 Dozen Vibrant Roses</a><br>
          <a href="#"  class="a1" style="color: black;">$99.00</a><br>
          <a href="#"  class="a1" style="color: black;">Buy Now></a>
        </div>
      </div>
    </div>
    <div class="col bg-info p-2 m-1">
      <div class="card">
        <img src="https://assets.eflorist.com/site/00004321/assets/products/PHR_/sku7001825.jpg?1578782476489" class="card-img-top" alt="...">
        <hr>
        <div class="text-center pb-2">
          <a href="#" class="a1" style="color: black;">Sweet Hydrangea</a><br>
          <a href="#"  class="a1" style="color: black;">$79.00</a><br>
          <a href="#"  class="a1" style="color: black;">Buy Now></a>
        </div>
      </div>
    </div>
    <div class="col bg-info p-2 m-1">
      <div class="card">
        <img src="https://assets.eflorist.com/site/00004321/assets/products/PHR_/sku7920529.jpg" class="card-img-top" alt="...">
        <hr>
        <div class="text-center pb-2">
          <a href="#" class="a1" style="color: black;">Yellow roses (6)</a><br>
          <a href="#"  class="a1" style="color: black;">$90.00</a><br>
          <a href="#"  class="a1" style="color: black;">Buy Now></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light m-sm-0 m-md-3 text-center p-2 pt-lg-4 pb-lg-4">
         <p style="font-family:Verdana;">For the best and freshest flowers in Inver Grove Heights, Art of Bloom has exactly what you’re looking <br> for! Check out our wide selection of flower arrangements to make your next <br>occasion memorable.</p>
  </div>

<div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-1 my-4" style="justify-content:space-evenly;"> 

     <div class="col"> 
        
        <div class="card m-1 pb-0 ml-2">
          <img src="https://assets.eflorist.com/images/homepage/immersion/immersion_valentine_day.jpg" class="card-img-top" alt="...">
          <div class="px-2 pt-1 bg-light">
            <h1 class="m-0 p-0" style="font-size:1.2em;font-family:cursive;">DEGINERS SPECIAL</h1>
            <p style="position:relative;">Let us make something special></p>
          </div>

       </div>

     </div>
     <div class="col ">

      <div class="card m-1 mr-2 pb-0">
        <img src="https://assets.eflorist.com/images/homepage/immersion/immersion_winter.jpg" class="card-img-top" alt="...">
        <div class="px-2 pt-1 bg-light">
          <h1 class="m-0 p-0" style="font-size:1.2em;font-family:cursive;">SYMPATHY</h1>
          <p style="position:relative;">Send your condolences></p>
        </div>

     </div>
     
    </div>

</div>

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 row-cols-lg-6 my-auto" style="justify-content: space-evenly;">
  
  <div class="col bg-info p-2 m-1" *ngFor="let p of cards" > 
        <app-product-details [cardsD]=p></app-product-details>
  </div>
</div>

</div>
</div>
 