<div class="mx-auto mx-lg-4 px-2 px-lg-3">
<div class="row row-cols-md-2 row-cols-1 p-2" style="justify-content: space-evenly;">
    <div class="col" *ngFor="let empObj of employees;let ind=index">
        
        <div class="card  m-md-2 mx-lg-5 my-3 my-xl-4 shadow " style="width:75%;">
            <div class="card-body">
              
                <div class="row">
                    <div class="col-sm-8">
                     
                     <h4 class="" style="color:rgb(247, 100, 242);font-size: 1.7em;">{{empObj.name}}</h4>
                     <h5 class="text-secondary" style="font-size: 1.2em;">Username : <strong>{{empObj.username}}</strong></h5>
                     <h5 class="text-secondary" style="font-size: 1.1em;"> phone : <i class="fas fa-phone-alt"></i> <strong font-size="1em"> {{empObj.phone}}</strong></h5>
                     <h5 class="text-secondary" style="font-size: 1.1em;"> email : <i class="fas fa-envelope"></i> <strong> {{empObj.email}}</strong></h5>
                     </div>
                    <div class="col-sm-4">
                        <img class="w-sm-10"  src="https://cdn1.vectorstock.com/i/thumb-large/00/65/user-profile-grey-icon-web-avatar-employee-vector-32550065.jpg"  
                        style="border:1px solid black;" width=80% alt="">
                    </div>
                </div>
                <hr>
                 <div class="row mx-auto" style="width:10em">
   
                <button class="m-1 ms-auto row btn btn-info" style="font-size: 1.2em;font-weight: 700;color: seashell;font-family:sans-serif;"[attr.data-bs-target]="'#mdl'+ind" data-bs-toggle="modal">More info</button>

        <div class="modal" [attr.id]="'mdl'+ind" data-bs-backdrop="static">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="">
               <div class="modal-header">
                   <h3 style="color: purple;text-shadow: purple;">{{empObj.name}}</h3>
                   <button class="btn btn-danger"  data-bs-dismiss="modal">X</button>
               </div>
               <div class="modal-body m-3 mb-5  h-100 pb-4"  >
                <div>
                    <p class="key d-inline">Id  :  </p>
                    <p class="value d-inline"> {{empObj.id}}</p>
                </div>
                <div>
                    <p class="key d-inline">Name  :  </p>
                    <p class=" value d-inline"> {{empObj.name}}</p>
                </div>
                <div>
                    <p class="key d-inline">Username  :  </p>
                    <p class=" value d-inline"> {{empObj.username}}</p>
                </div>
                <dl style="position: relative;padding-bottom: 4.2em;" >
                    <dt>
                    <p class=" key d-inline">Company  :  </p>
                    </dt>
                    <dd style="position:absolute;left:2.5em">
                    <div >
                        <p class=" key d-inline">Name  :  </p>
                        <p class="value d-inline"> {{empObj.company["name"]}}</p>
                    </div>  
                    <div>
                        <p class="key d-inline">Catch phrase  :  </p>
                        <p class="value d-inline"> {{empObj.company["catchPhrase"]}}</p>
                    </div>  
                    <div>
                        <p class="key d-inline">Bs  :  </p>
                        <p class="value d-inline"> {{empObj.company["bs"]}}</p>
                    </div> 
                </dd>
              </dl>
              <div >
                <p class="key d-inline">Phone  :  </p>
                <p class="value d-inline"> {{empObj.phone}}</p>
             </div> 
             <div >
                <p class="key d-inline">Email  :  </p>
                <p class="value d-inline"> {{empObj.email}}</p>
             </div> 
             <div >
                <p class="key d-inline">Website  :  </p>
                <p class="value d-inline"> {{empObj.website}}</p>
             </div> 
             <address>
             <dl style="position: relative;padding-bottom: 4em;" >
                <dt>
                <p class=" key d-inline">Address  :  </p>
                </dt>
                <dd style="position:absolute;left:2.5em">
                <div >
                    <p class=" key d-inline">Street  :  </p>
                    <p class="value d-inline"> {{empObj.address["street"]}},</p>
                </div>  
                <div>
                    <p class="key d-inline">Suite  :  </p>
                    <p class="value d-inline"> {{empObj.address["suite"]}},</p>
                </div>  
                <div>
                    <p class="key d-inline">City :  </p>
                    <p class="value d-inline"> {{empObj.address["city"]}},</p>
                </div> 
                <div>
                    <p class="key d-inline">Zip code :  </p>
                    <p class="value d-inline"> {{empObj.address["zipcode"]}},</p>
                </div> 
                <div>
                    <p class="key d-inline">Geo :  </p>
                    <p class="value d-inline"> ( {{empObj.address["geo"]["lat"]}} , {{empObj.address["geo"]["lat"]}} ).</p>
                </div> 
            </dd>
          </dl>
        </address>




               </div>
               <div class="modal-footer">
                   <button class="btn btn-submit"></button>
               </div>
        
    </div>
</div>
</div>
</div>

</div>
                


            </div>
          </div>

    </div>
   
</div>
</div>




